<template>
  <div id="app-root">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue, { ComponentOptions } from 'vue'
import 'vue-googlemaps/dist/vue-googlemaps.css'
import VueGoogleMaps from 'vue-googlemaps'

Vue.use(VueGoogleMaps, {
  load: {
    apiKey: process.env.GOOGLE_API_KEY,
    libraries: ['places'],
    useBetaRenderer: false,
  },
})

export default {
  name: 'app',
} as ComponentOptions<Vue>
</script>

<style>
html,
body,
#app-root {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
</style>
