<template>
  <div :class="$style.container">
    <googlemaps-map
      :class="$style.map"
      :center.sync="center"
      :zoom.sync="zoom"
    >
    <googlemaps-marker
      v-for="memo in memos"
      :key="`${memo.lat}-${memo.lng}`"
      :title="memo.title"
      :position="{ lat: memo.lat, lng: memo.lng }"
    />
    </googlemaps-map>
  </div>
</template>

<script lang="ts">
import Vue, { ComponentOptions } from 'vue'

async function getMemos() {
  const res = await fetch('/api/memo')
  return (await res.json()) as Array<{
    lat: number
    lng: number
    title: string
    added_at: string
  }>
}

export default {
  async mounted() {
    const memos = await getMemos()
    this.memos = memos
  },
  data() {
    return {
      center: {
        lat: 48.853,
        lng: 2.298,
      },
      userPosition: null,
      zoom: 12,
      memos: [],
    }
  },
} as ComponentOptions<Vue>
</script>

<style module>
.container,
.map {
  height: 100%;
}
</style>
