{% load i18n %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <div id="app-root"></div>
  {% render_bundle 'main' %}
</body>
</html>
